__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environments
.env
.venv
env/
venv/

# Project files
.git
.gitignore

# Distribution / packaging
.eggs/
*.egg-info/
dist/
build/

# Pytest
.pytest_cache/
.tox/ 